flows.json
[{"id":"ac0ca9a9.154168","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8ac92a7.fb1c0d8","type":"ui_text","z":"ac0ca9a9.154168","group":"6531bd23.00c5e4","order":2,"width":0,"height":0,"name":"","label":"Predicition","format":"{{msg.payload}}","layout":"row-spread","x":835,"y":2178,"wires":[]},{"id":"82e24b69.216768","type":"ui_form","z":"ac0ca9a9.154168","name":"","label":"","group":"6531bd23.00c5e4","order":1,"width":0,"height":0,"options":[{"label":"State1","value":"state1","type":"number","required":true},{"label":"State2","value":"state2","type":"number","required":true},{"label":"R&D","value":"rd","type":"number","required":true},{"label":"Administration","value":"admin","type":"number","required":true},{"label":"Marketing Spent","value":"market","type":"number","required":true}],"formValue":{"state1":"","state2":"","rd":"","admin":"","market":""},"payload":"","submit":"","cancel":"","topic":"","x":55,"y":2098,"wires":[["16322739.e345b9"]]},{"id":"16322739.e345b9","type":"function","z":"ac0ca9a9.154168","name":"parameters","func":"global.set(\"state1\",msg.payload.state1)\nglobal.set(\"state2\",msg.payload.state2)\nglobal.set(\"rd\",msg.payload.rd)\nglobal.set(\"admin\",msg.payload.admin)\nglobal.set(\"market\",msg.payload.market)\nreturn msg;","outputs":1,"noerr":0,"x":155,"y":1998,"wires":[["d6d03284.29594"]]},{"id":"d6d03284.29594","type":"http request","z":"ac0ca9a9.154168","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":235,"y":2178,"wires":[["bed922fc.b7d4e","f14f85f6.9c83a8"]]},{"id":"bed922fc.b7d4e","type":"debug","z":"ac0ca9a9.154168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":455,"y":2238,"wires":[]},{"id":"dada1765.cb8c48","type":"http request","z":"ac0ca9a9.154168","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/76cf34f1-a6bf-496d-a074-e946190910b6/deployments/b8124090-78aa-47bb-9a2a-542ccc32a2cc/online","tls":"","proxy":"","authType":"basic","x":395,"y":1938,"wires":[["e20aca.c138b538","aeb63a2.9b3abc8"]]},{"id":"e20aca.c138b538","type":"debug","z":"ac0ca9a9.154168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":595,"y":1918,"wires":[]},{"id":"aeb63a2.9b3abc8","type":"function","z":"ac0ca9a9.154168","name":"","func":"msg.payload=msg.payload.values[0][0][0]\nreturn msg;","outputs":1,"noerr":0,"x":635,"y":2118,"wires":[["8ac92a7.fb1c0d8"]]},{"id":"f14f85f6.9c83a8","type":"function","z":"ac0ca9a9.154168","name":"prediction","func":"var token = msg.payload.token\nvar state1=global.get('state1')\nvar state2=global.get('state2')\nvar rd=global.get('rd')\nvar admin=global.get('admin')\nvar market=global.get('market')\nmsg.payload ={\"fields\":[\"State1\",\"State2\",\"RD\",\"Administration\",\"Market\"],values:[[state1,state2,rd,admin,market]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":2038,"wires":[["dada1765.cb8c48"]]},{"id":"af48dde2.5d295","type":"ui_text","z":"ac0ca9a9.154168","group":"463f839e.ce9fdc","order":2,"width":0,"height":0,"name":"","label":"Predicition","format":"4","layout":"row-spread","x":883.0000076293945,"y":354.0000009536743,"wires":[]},{"id":"76816983.facdb8","type":"ui_form","z":"ac0ca9a9.154168","name":"","label":"","group":"463f839e.ce9fdc","order":1,"width":0,"height":0,"options":[{"label":"Average_Cost_for_two","value":"Average","type":"number","required":true},{"label":"Table_booking","value":"Tablebooking","type":"number","required":true},{"label":"Online_delivery","value":"Online","type":"number","required":true},{"label":"delivering_now","value":"delivering","type":"number","required":true},{"label":"Price_range","value":"Price","type":"number","required":true}],"formValue":{"Average":"","Tablebooking":"","Online":"","delivering":"","Price":""},"payload":"","submit":"","cancel":"","topic":"","x":103.00000762939453,"y":274.0000009536743,"wires":[["4e5c4d2f.dccf14"]]},{"id":"4e5c4d2f.dccf14","type":"function","z":"ac0ca9a9.154168","name":"parameters","func":"global.set(\"Average\",msg.payload.Average)\nglobal.set(\"Tablebooking\",msg.payload.Tablebooking)\nglobal.set(\"Online\",msg.payload.Online)\nglobal.set(\"delivering\",msg.payload.delivering)\nglobal.set(\"Price\",msg.payload.Price)\nreturn msg;","outputs":1,"noerr":0,"x":203.00000762939453,"y":174.00000095367432,"wires":[["bb9fb706.c97fe8","d3b2b0b7.5596"]]},{"id":"bb9fb706.c97fe8","type":"http request","z":"ac0ca9a9.154168","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":283.00000762939453,"y":354.0000009536743,"wires":[["17bd55c5.e5ecea","ace86277.0ad68"]]},{"id":"17bd55c5.e5ecea","type":"debug","z":"ac0ca9a9.154168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":503.00000762939453,"y":414.0000009536743,"wires":[]},{"id":"386af129.5820fe","type":"http request","z":"ac0ca9a9.154168","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/76cf34f1-a6bf-496d-a074-e946190910b6/deployments/0665624b-d951-4e18-a540-bb945bc8d36e/online","tls":"","proxy":"","x":443.00000762939453,"y":114.00000095367432,"wires":[["e25e3f9b.30bae","75edc960.3ce7c8"]]},{"id":"e25e3f9b.30bae","type":"debug","z":"ac0ca9a9.154168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":643.0000076293945,"y":94.00000095367432,"wires":[]},{"id":"75edc960.3ce7c8","type":"function","z":"ac0ca9a9.154168","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":684.0000076293945,"y":275.0000042915344,"wires":[["af48dde2.5d295"]]},{"id":"ace86277.0ad68","type":"function","z":"ac0ca9a9.154168","name":"prediction","func":"var token = msg.payload.token\nvar Average=global.get('Average')\nvar Tablebooking=global.get('Tablebooking')\nvar Online=global.get('Online')\nvar delivering=global.get('delivering')\nvar Price=global.get('Price')\nmsg.payload ={\"fields\":[\"Average\",\"Tablebooking\",\"Online\",\"delivering\",\"Price\"],values:[[Average,Tablebooking,Online,delivering,Price]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":373.00000762939453,"y":214.00000095367432,"wires":[["386af129.5820fe","2bcf48de.41cdc8"]]},{"id":"2bcf48de.41cdc8","type":"debug","z":"ac0ca9a9.154168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520.1000061035156,"y":306.0000047683716,"wires":[]},{"id":"d3b2b0b7.5596","type":"debug","z":"ac0ca9a9.154168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":317.1000061035156,"y":47,"wires":[]},{"id":"6531bd23.00c5e4","type":"ui_group","z":"","name":"Input Parameters","tab":"","disp":true,"width":"6","collapse":false},{"id":"463f839e.ce9fdc","type":"ui_group","z":"","name":"Input Parameters","tab":"18714848.0c1218","disp":true,"width":"6","collapse":false},{"id":"18714848.0c1218","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]